/* This is the index stylesheet by @GX2 */

/* 
===================
Fonts
===================
*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 
===================
Global Variables
===================
*/

:root {
/* 
===================
Color Pallette 
===================
*/

/* Primary Color */
--clr-primary: black;
/* Secondary Color */
--clr-secondary: white;
/* Brand-gradient */
--gradient-var1: linear-gradient(180deg, #FFFFFF, #DADADA);
--gradient-var2: linear-gradient(180deg, #FFFFFF, #E0E0E0);
--gradient-var3: radial-gradient(circle, rgba(220,220,220,1) 25%, rgba(243,243,243,1) 75%);
--gradient-var4: linear-gradient(180deg, #E8E8E8, #FFFFFF);
--gradient-var5: linear-gradient(180deg, #FFFFFF, #A7A7A7);
/* Black Color shades*/
--clr-black: #2E2F36;
--shade1: #F0F0F0;
--shade2: #E8E8E8;
--shade3: #F8F8F8;
/*Fonts */
--ff-primary: "Orbitron", sans-serif;
--ff-secondary: "Roboto", sans-serif;
/* font size */
font-size: 16px;
/* Global Transition */
--transition: all 0.3s ease;
}

/* 
===================
Basic Reset
===================
*/
*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* 
====================
Global Styles
====================
*/

.hero{
    background-color: #ADADAD;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header start */
header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2em 2em;
}

h1{
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: clamp(20px, 2vw + 0.1rem, 30px);
    margin-right: auto;
}
h2{
    font-family: var(--ff-secondary);
    font-weight: bold;
    text-align: center;
    font-size: clamp(22px, 5vw + 0.1rem, 50px);
    margin-top: 3em;
}

.contact-link{
    color: black;
    font-size: clamp(21px, 1vw + 0.1rem, 31px);
}

.contact-link:visited{
    color: black;
}

/* HEader end */
.hero-graphic{
    width: 30vw;
    min-width: 250px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

video{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

button{
    position: absolute;
    bottom: 35vh;
    padding: 0.5em 1em;
    font-family: var(--ff-secondary);
    font-size: clamp(15px, 1.8vw + 0.2rem, 25px);
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: black;
}
